In [1]:
import pandas as pd
path1 = 'exercise_data/chipotle.tsv'

In [4]:
chipo = pd.read_csv('./exercise_data/chipotle.tsv', sep = '\t')
# 查看前十行内容
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.shape[1] # 查看列数

5

In [6]:
chipo.columns # 打印出全部列的名称

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
# 数据集的索引是怎么样的
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
# 被下单最多的商品(item)是什么
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html?highlight=agg#:~:text=Different%20aggregations,%3E%3E%3E
c = chipo[['item_name', 'quantity']].groupby(['item_name'], as_index=False).agg({'quantity':sum})
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values
c.sort_values(['quantity'], ascending=False, inplace=True)
c.head(10)

                       item_name  quantity
17                  Chicken Bowl       761
18               Chicken Burrito       591
25           Chips and Guacamole       506
39                 Steak Burrito       386
10             Canned Soft Drink       351
23                         Chips       230
38                    Steak Bowl       221
6                  Bottled Water       211
24  Chips and Fresh Tomato Salsa       130
9                    Canned Soda       126

In [10]:
# 在item_name这一列，一共有多少种商品被下单
chipo['item_name'].nunique()

50

In [11]:
# 在choice_description中，下单次数最多的商品是什么？
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [13]:
# 一共有多少商品被下单？?
# 运行以下代码
total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

In [14]:
# 将item_price转换为浮点数
# 运行以下代码
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [15]:
# 在该数据集对应的时期内，收入(revenue)是多少
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

In [16]:
# 在该数据集对应的时期内，一共有多少订单？
chipo['order_id'].nunique()

1834

In [18]:
# 每一单(order)对应的平均总价是多少？
chipo[['order_id', 'sub_total']].groupby(by=['order_id']).agg({'sub_total':'sum'})['sub_total'].mean()

21.39423118865867

In [19]:
# 一共有多少种不同的商品被售出？
chipo['item_name'].nunique()

50